.editorBar {
    border-bottom: 2px black solid;
    padding: 18px;
    margin-bottom: 10px;
    height: 25px;
}

#textContainer {
    padding: 20px;
    min-height: 250px;
    min-width: 250px;
}

#searchIcon {
    position: fixed;
    right: 50px;
}

#matchNotif {
    margin: 5px;
    position: absolute;
    bottom: 15%;
    right: 4%;
}

#footer {
    padding: 10px;
    height: 20px;
    position: relative;
    border-top: 1px solid black;
}
body {
    margin: 25px;
    border: 2px black solid;
    border-radius: 10px;
}
